$bp-400px: 25em; //  400px
$bp-500px: 31.25em; //  500px
$bp-600px: 37.5em;      //  600px
$bp-800px: 50em;   // 800px
$bp-1000px: 62.5em;        // 1000px
$bp-1200px: 75em;        // 1200px



* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 65.5%; // 1rem = 10px
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    position: relative;
    background: black;
    }

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    font-size: 65.5%; // 1rem = 10px
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;

}


.preloader {
    z-index: 1000;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:99999;
    background-color: black;

    & svg {
        height: 10rem;
        
        fill: #F8F970;
     
        

        & path{
            fill: #F8F970;
            fill-opacity: 0;
            stroke-width: 3px;
            stroke-dashArray: 2819;
            stroke-dashoffset: 2819;
            animation: dash 1s linear 0.2s alternate infinite;
        }
    }
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}




.turn {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10000;
   
    visibility: hidden;

    background: #181a23;


    @media  (orientation:landscape) and (max-width: 900px)  {
          display: block;
          visibility: visible;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
      }



    & p {
        font-size: 4rem;
        font-family: 'Quicksand', sans-serif;
        color: rgb(55,224,125);
        background: -webkit-linear-gradient(45deg, rgba(248,249,112,1) 0%, rgba(55,224,125,1) 100%);;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
    }
}